@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Jersey+15&display=swap");
@import "tailwindcss";

* {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

header{
  background: url('public/images/pattern-bg-desktop.png') center center / cover no-repeat;
}
